<div class="call-container" *ngIf="!errorMessage; else errorBlock">
  <div class="video-container">
    <div>
      <h3 class="text-center">remoteVideo</h3>
      <video
        #remoteVideo
        autoplay
        playsinline
        class="remote-video"
        alt="Нет картинки или трансляция окончена"
        muted
      ></video>
    </div>
    <div>
      <h3 class="text-center">localVideo</h3>
      <video
        #localVideo
        autoplay
        playsinline
        muted
        class="local-video"
        alt="Нет картинки или трансляция окончена"
      ></video>
    </div>
  </div>
</div>

<ng-template #errorBlock>
  <div class="error-container">
    <h2>Call Unavailable</h2>
    <p>{{ errorMessage }}</p>
    <button (click)="router.navigate(['/'])">Back to Home</button>
  </div>
</ng-template>
